body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  /*background-color: #f1f1f1;*/
 background: 

    radial-gradient(circle at 0 0, #f1c40f, transparent),

    radial-gradient(circle at 100% 0, #3498db, transparent),

    radial-gradient(circle at 0 100%, #e74c3c, transparent),

    radial-gradient(circle at 100% 100%, #2ecc71, transparent);

  background-size: cover;

}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
h1 {
  margin-top: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.os-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
.os-image.windows {
  background-image: url('windows.png');
}
.os-image.mac {
  background-image: url('mac.png');
}
.os-image.linux {
  background-image: url('linux.png');
}
a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #666;
}
