body {
  background-image: url("background.jpg");
  background-size: cover;
  color: white;
}
a {
  color: white;
  background: none;
  border-radius: 3px;
  margin: 4px;
  padding: 5px;
}

a:hover {
  background-color: green;
  border: 1px dotted white
}

div {
  text-align: center;
}
