body {
  background-image: url("background.jpg");
  background-size: cover;
  color: white;
}
a {
  color: white;
  background: none;
  border-radius: 3px;
  border: 1px dotted black;
  margins: 4px;

}

a:hover {
  background-color: green;
}
